html,head,title,header,meta,link,body,main,p,h1,footer,h2,img{
    margin:0;
    padding:0;
}
/*------------------general style--------------*/
h1,h2,p,a{
    font-family: Lato, Helvetica, Arial;
}
body{
    background-color: rgb(240, 240, 240);
    font-size: 14px;
    height: 654px;
    line-height: 20px;
}
/*---------------------header-------------*/
header{
    background-color:white;
}
img,nav,a{
    display:inline;
}
img{
    width:7em;
    padding:1.5em 7em 1.5em 7em;
}
nav a{
    float:right;
    padding:1.5em 1.5em 0 0;
    position:relative;
    right:5em;
}
a{
    text-decoration: none;
}
/*----------------main-------------------*/
main{
    padding:4.5em ;
    background:white;
    text-align: center;
    margin: 1.5em 25em 7em 25em;
    border-radius:10px;
}
h2{
    margin:0.5em 2em 5em 2em;
    
    
}
main p{
    color:grey;
    position:relative;
    top:-5em;
}
.big{
    padding:.6rem;
    background:rgb(45, 0, 128);
    color:white;
    display:inline;
    border-radius: 5px;
    position:relative;
    right:3.5em;
    bottom:1.7em;    
}
.ben{
    position:relative;
    right:0.3em;
    color:black;
}
.small{
    position:relative;
    left:1.8em;
    top:-5.3em;
}

p+a{
    padding:6px 7em 6px 7em;
    background:rgb(50, 50, 219);
    color:white;
    border-radius: 5px;
    position:relative;
    bottom:3em;
}
main p:last-child{
    position:relative;
    top:-2.7em;
    font-size: smaller;
    font-weight: bolder;
}
footer{
    text-align: center;
    position: relative;
    top:-3em;
    font-size: x-small;
    color:grey;
    font-weight: bolder;
}
